.TodoInput{
    margin-top: 2vw;
    align-items: center;
    justify-content: space-between;
}
.button:active{
  background-color: rgb(214, 32, 32);
   color: aliceblue;
}
.TodoInput div{
 border: .2em solid #67e7ee;
 border-radius:2em ;
}

.TodoInput input,input:focus{
 border: none;
  outline: none;
}
.inputfield:focus div{
   border-color: #6de4b3;
}
